.footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 41, 58);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        font-size: 1rem;
        margin: 1rem;
    }
}